body{
    font-family: 微軟正黑體;
    background-color: #cdffec;
}

h1{
    text-align: center;
    font-size: 50px;
}

input{
    width: 400px;
    height: 20px;
}

/* ============初始畫面============ */
#no1{
    display: block;
}

#btn_url_excel{
    width: 140px;
    height: 40px;
    font-size: 25px;
    margin-left: 30px;
}

.input{
    margin-left: 150px;
    float: left;
}

.hint{
    color: red;
    margin-top: 50px;
    margin-left: 50px;
}

.excel_EX{
    float: left;
    margin-left: 150px;
}
@media(max-width: 1800px){
    .input{
        margin-left: 100px;
    }
    .excel_EX{
        margin-left: 100px;
    }
}
@media(max-width: 1680px){
    .input{
        margin-left: 50px;
    }
    .excel_EX{
        margin-left: 50px;
    }
}
/* ============點名畫面============ */
#time{
    display: none;
    margin-left: 50px;   
}
#no2{
    display: none;
    margin-left: 50px;
}

#att_lst{
    display: none;
}

.time{
    color: #9D9D9D;
    margin: 20px;
}

.people{
    font-size: 30px;
    position: fixed;
    right: 30px;
    top: 30px;
}

.box{ /* 整體名字 */
    width: 80%;
    border: 1px rgb(0, 0, 0) none; /* 邊框: 粗細 顏色 樣式 */
     margin: 0 10%; /*外邊界 */
    padding: 10px; /* 內邊界 */
}
.btn{  /* 按鈕*/
    width: 200px;
    padding: 10px; /* 內邊界 */
    margin: 5px;
    font-size: 25px;
    background-color: #F0F0F0;
}
.btn_ok{
    width: 100px;
    height: 50px;
    padding: 10px; /* 內邊界 */
    margin: 5px;
    font-size: 25px;

}

.check{
    width: 300px;
    height: 50px;
    padding: 10px; /* 內邊界 */
    margin: 5px;
    font-size: 25px;

}

